@model IEnumerable<CourseRecord>

<h2>Öğrenci Kurs Kayıt Listesi</h2>
<hr />
<a href="/CourseRecord/Create" class="btn btn-primary">Kurs Kayıt Ekle</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width: 150px">KayıtId</th>
            <th style="width: 150px">Başlık</th>
            <th style="width: 150px">Öğrenci Adı</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CourseId</td>
                <td>@item.course.Title</td>
                <td>@item.student.FullName</td>
                <td>
                    <a asp-controller="CourseRecord" asp-action="Edit" asp-route-id="@item.CourseId" class="btn btn-sm btn-primary">Details</a>
                    <a asp-controller="CourseRecord" asp-action="Delete" asp-route-id="@item.CourseId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
